<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
    <link href="/static/css/main.css" rel="stylesheet" />
</head>
<body>
<h1>Edit user</h1>
<form th:method="PATCH" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">
    <p>
        <label for="username">Enter username:</label>
        <input type="text" id="username" th:field="*{username}"/>
    </p>
    <p>
        <label for="password">Enter password:</label>
        <input type="text" id="password" th:field="*{password}"/>
    </p>
    <p>
        <label for="email">Enter email:</label>
        <input type="text" id="email" th:field="*{email}"/>
    </p>
    <p>
        <input type="submit" value="Save changes"/>
    </p>
</form>
<form th:method="GET" th:action="@{/logout}">
    <input type="submit" value="Logout">
</form>
</body>
</html>