<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- JQuery connect-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link href="/css/main.css" rel="stylesheet"/>

    <title>Admin panel</title>
</head>

<body>
<!-- Навбар -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <span class="navbar-brand principal-id" th:text="${principal.getEmail()} + ' with roles:'" th:id="${principal.getId()}">
                Principal email</span>
    <span class="navbar-brand"
          th:each="role : ${principal.getRoles()}" th:text="${role.getName().substring(5)}">
                Principal roles</span>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto"></ul>
        <span class="navbar-nav nav-item"><a class="nav-link" th:href="@{/logout}">Logout</a></span>
    </div>
</nav>
<!-- / Навбар -->


<!-- Modal Edit user-->
<form class="editForm">
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
     aria-hidden="true">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Edit user</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <!-- Здесь было начало формы -->
                    <p>
                        <label for="id_edit">Id:</label>
                        <input type="text" id="id_edit" class="form-control" name="id" readonly/>
                    </p>
                    <p>
                        <label for="username_edit">Enter username:</label>
                        <input type="text" id="username_edit" class="form-control" name="username"/>
                    </p>
                    <p>
                        <label for="password_edit">Enter password:</label>
                        <input type="password" id="password_edit" class="form-control" name="password"/>
                    </p>
                    <p>
                        <label for="email_edit">Enter email:</label>
                        <input type="text" id="email_edit" class="form-control" name="email"/>
                    </p>
                    <p>
                        <label for="rolesValue">Choose roles:</label>
                        <select multiple size="2" id="roles_edit" class="form-control">
                            <option th:each="role : ${roles}"
                                    th:text="${role.getName().substring(5)}"
                                    th:value="${role.getId()}"></option>
                        </select>
                    </p>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary save-changes" value="Save changes"/>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- / Modal Edit user-->

<!-- Modal Delete user-->
<form class="deleteForm">
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
         aria-hidden="true">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete user</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <!-- Здесь было начало формы -->
                    <p>
                        <label for="id_delete">Id:</label>
                        <input type="text" id="id_delete" class="form-control" name="id" disabled/>
                    </p>
                    <p>
                        <label for="username_delete">Username:</label>
                        <input type="text" id="username_delete" class="form-control" name="username" disabled/>
                    </p>
                    <p>
                        <label for="email_delete">Email:</label>
                        <input type="text" id="email_delete" class="form-control" name="email" disabled/>
                    </p>
                    <p>
                        <label for="rolesValue">Roles:</label>
                        <select multiple size="2" class="form-control" disabled>
                            <option th:each="role : ${roles}"
                                    th:text="${role.getName().substring(5)}"
                                    th:value="${role.getId()}"></option>
                        </select>
                    </p>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-danger delAccept" value="Accept delete"/>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- / Modal Delete user-->


<!-- Основной контейнер-->
<div class="container-fluid d-flex flex-column">
    <div class="row flex-fill d-flex h-100 justify-content-start">

        <div class="col-2 bg-white">
            <!-- Вертикальные закладки --><br>
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
                   aria-controls="v-pills-home" aria-selected="true">Admin</a>
                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
                   aria-controls="v-pills-profile" aria-selected="false">User</a>
            </div>
            <!-- / Вертикальные закладки -->
        </div>

        <div class="col-10 bg-light">
            <!-- Контент вертикальных закладкок --><br>
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                     aria-labelledby="v-pills-home-tab">

                    <h1>Admin panel</h1>

                    <nav>
                        <!-- Горизонтальные закладки: Users table | New user -->
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home"
                               role="tab" aria-controls="nav-home" aria-selected="true">Users table</a>
                            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile"
                               role="tab" aria-controls="nav-profile" aria-selected="false">New user</a>
                        </div>
                        <!-- / Горизонтальные закладки: Users table | New user -->
                    </nav>

                    <div class="tab-content" id="nav-tabContent">
                        <!-- Контент горизонтальных закладок -->
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                             aria-labelledby="nav-home-tab">

                            <!-- Карточка -->
                            <div class="card">
                                <h5 class="card-header">All users</h5>
                                <div class="card-body">

                                    <!-- Таблица админа -->
                                    <table class="table table-striped usersTable">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Username</th>
                                            <th>Password</th>
                                            <th>Email</th>
                                            <th>Role</th>
                                            <th>Operations</th>
                                        </tr>
                                        </thead>
                                        <tbody id="data">
                                        <!-- / Сюда выводит fetch-->
                                        </tbody>
                                    </table>
                                    <!-- / Таблица админа -->

                                </div>
                            </div>
                            <!-- / Карточка -->
                        </div>
                        <!-- / Контент горизонтальных закладок User table -->

                        <!-- Контент горизонтальных закладок New user -->
                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                            <!-- Карточка New user -->
                            <div class="card">
                                <h5 class="card-header">Add new user</h5>
                                <div class="card-body">

                                    <!-- Форма добавления нового пользователя -->
                                    <div class="row h-100 justify-content-center align-items-center">
                                        <form class="col-4 add-user-form">
                                            <div class="form-group">
                                                <label for="usernameValue">Username:</label>
                                                <input type="text" class="form-control" id="usernameValue" placeholder="Enter Username">
                                            </div>
                                            <div class="form-group">
                                                <label for="emailValue">Email:</label>
                                                <input type="text" class="form-control" id="emailValue" placeholder="Enter email">
                                            </div>
                                            <div class="form-group">
                                                <label for="passwordValue">Password:</label>
                                                <input type="password" class="form-control" id="passwordValue" placeholder="Enter password">
                                            </div>
                                            <div class="form-group">
                                                <label for="rolesValue">Roles:</label>
                                                <select multiple size="2" class="form-control" id="rolesValue">
                                                    <option th:each="role : ${roles}"
                                                            th:text="${role.getName().substring(5)}"
                                                            th:value="${role.getId()}"></option>
                                                </select>
                                            </div>
                                            <button type="submit" class="btn btn-success btn-block crBtn">
                                                Create new user
                                            </button>

                                        </form>
                                    </div>
                                    <!-- / Форма добавления нового пользователя -->

                                </div>
                                <!-- / Карточка New user -->

                            </div>
                        </div>
                        <!-- / Контент горизонтальных закладок New user -->
                    </div>

                </div>
                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
                     aria-labelledby="v-pills-profile-tab">

                    <h1>User information-page</h1>

                    <!-- Карточка для вертикальной закладки User -->
                    <div class="card">
                        <h5 class="card-header">About user</h5>
                        <div class="card-body">

                            <!-- Таблица принципала-->
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Username</th>
                                    <th>Password</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                </tr>
                                </thead>
                                <tbody id="data-principal">
                                    <!-- Строки рисует fetch -->
                                </tbody>
                            </table>
                            <!-- / Таблица -->

                        </div>
                        <!-- / Карточка -->

                    </div>
                </div>
                <!-- / Контент вертикальных закладкок -->
            </div>

        </div>
    </div>
</div>
<!-- JavaScript -->
<!--<script src="/js/learn_fetch_api.js"></script>-->
<script src="/js/fill_modals.js"></script>
<script src="/js/table_admin.js"></script>
<script src="/js/table_principal.js"></script>
<script src="/js/new_user.js"></script>
<script src="/js/delete_user.js"></script>
<script src="/js/edit_user.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>